<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xixi.mapper.OperLogMapper">

    <select id="getOperLogPage" resultType="com.xixi.pojo.vo.log.OperLogPageVO">
        select id,log_type,module_name,biz_type,biz_id,operation_type,operation_desc,
               operator_id,operator_name,request_uri,request_method,ip_address,
               success_flag,error_message,operate_time
        from sys_oper_log
        <where>
            <if test="q.logType!=null and q.logType!=''">
                and lopg_type=#{q.logType}
            </if>
            <if test="q.moduleName!=null and q.moduleName!=''">
                and module_name like concat('%',#{q.moduleName},'%')
            </if>
            <if test="q.operationType!=null and q.operationType!=''">
                and operation_type=#{q.operationType}
            </if>
            <if test="q.operatorName!=null and q.operatorName!=''">
                and operator_name like concat('%',#{q.operatorName},'%')
            </if>
            <if test="q.successFlag!=null">
                and success_flag=#{q.successFlag}
            </if>
            <if test="q.beginTime!=null and q.beginTime!=''">
                and operate_time &gt;=#{q.beginTime}
            </if>
            <if test="q.endTime!=null and q.endTime!=''">
                and operate_time &lt;=#{q.endTime}
            </if>
        </where>
        order by operate_time desc
    </select>
</mapper>