<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xixi.mapper.UserMapper">
    <select id="getUserPage" resultType="com.xixi.pojo.vo.user.UserVO">
        select u.id,u.username,u.name,u.phone,u.email,u.dept,u.status,u.last_login_time,u.remark,
               u.create_time,u.update_time,u.deleted,r.name as roleName
        from user u left join user_role ur on u.id = ur.user_id left join role r on ur.role_id = r.id
        <where>
            <if test="q.name != null and q.name != ''">
                and u.name like concat('%',#{q.name},'%')
            </if>
            <if test="q.roleName != null and q.roleName != ''">
                and r.name = #{q.roleName}
            </if>
            <if test="q.dept != null and q.dept !=''">
                and u.dept = #{q.dept}
            </if>
            <if test="q.status != null and q.status != ''">
                and u.status = #{q.status}
            </if>
        </where>
    </select>
    <select id="getUserDetailById" resultType="com.xixi.pojo.vo.user.UserVO">
        select u.id,u.username,u.name,u.phone,u.email,u.dept,u.status,u.last_login_time,u.remark,
               u.create_time,u.update_time,u.deleted,r.name as roleName
        from user u left join user_role ur on u.id = ur.user_id left join role r on ur.role_id = r.id
        where u.id = #{id} and u.deleted = 0
    </select>
    <select id="getAuthUserByUsername" resultType="com.xixi.entity.User">
        select id, username, password, name, dept, status, last_login_time
        from user
        where username = #{username} and deleted = 0
    </select>
    <update id="updateLastLoginTimeAndCreateTime">
        update user set last_login_time = #{lastLoginTime}
        where id = #{id} and deleted = 0
    </update>
</mapper>